.top-banner {
    height: 58px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border: 2px solid var(--black-color);
    background-color: var(--peach-color);
    border-radius: 12px;
    width: 100%;
    margin-bottom: 14px;
}
.top-banner h2{
    font-size: 20px;
}
.top-banner-right,
.top-banner-left {
    opacity: 0.5;
}

.top-banner .big-ball {
    position: absolute;
    left: 521px;
    top: 0;
    opacity: 0.9;
}

.top-banner .small-ball {
    position: absolute;
    bottom: 0;
    left: 1214px;
    opacity: 0.9;
}