.benfits-card {
    position: relative;
    padding: 80px 40px;
    border: 2px solid var(--black-color);
    border-radius: 12px;
    background-color: var(--white-color);
    box-shadow: 8px 8px var(--black-color);
    height: 306px;
    flex: 0 0 calc(33.33% - 27px);
    max-width: calc(33.33% - 27px);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    transition: all 0.3s ease;

}
.benfits-card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 12px 12px var(--black-color);
  }

.icon-container {
    position: absolute;
    left: 30px;
    top: -40px;
    border: 2px solid var(--black-color);
    background-color: var(--peach-color);
    border-radius: 12px;
    width: max-content;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benfits-card .icon-container img {
    width: 32px;
}

.benfits-card h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
}

.benfits-card p {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
}

@media (max-width: 1439px) {
    .benfits-card {
        flex: 0 0 100%;
        max-width: 504px;
        height: 300px;
    }
}

@media (max-width: 800px) {
    .benfits-card {
        height: auto;
        min-height: 250px;
        padding: 60px 30px;
    }
    
    .icon-container {
        padding: 15px;
    }
    
    .benfits-card h3 {
        font-size: 24px;
    }
    
    .benfits-card p {
        font-size: 18px;
    }
}